
<ion-content>
  <div class = "signup-card-div">
    <div class = "signup-card">
      <div class ="signup-content">
        <ion-text>
          <h1>UnderWraps</h1>
        </ion-text>
        <ion-input label="Username" [(ngModel)]="this.username"></ion-input>
        <ion-input label="Email" [(ngModel)]="this.email"></ion-input>
        <ion-input label="Password" type="password" [(ngModel)]="this.password"></ion-input>
        <ion-button expand="block" (click)="validateSignup()">Sign Up</ion-button>
      </div>
      </div>
  </div>
</ion-content>
