

<ion-content>
  <div class = "header">
  <div class = "header-left">
    <h1> Gift Exchange Groups </h1>
  </div>
  <div class = "header-right">
    <ion-button class = "logout-button" size = "small" (click)="this.router.navigate(['/home']);"> Log Out </ion-button>
  </div>
  </div>

  <!-- TO-DO: Button onclick color is default ios blue right now. Look into changing it. -->
  <div class = "join-group-button-div">
    <ion-button class="join-group-button" size = "medium" [routerLink]="['/join-group']">
    Create Or Join Group</ion-button>
  </div>


  @for (group of this.groupList; track $index) {
    <div class = "center-group-card">
      <ion-card class="group-card" (click)="this.router.navigate(['/main', group.data['code']]);">
        <div class="image-div">
          <img
            src="https://cdn-icons-png.flaticon.com/512/3209/3209955.png"
            alt="Gift"
          />
        </div>
        <div class="group-card-header-div">
          <ion-card-header>
            <ion-card-title>{{group.data['name']}}</ion-card-title>
          </ion-card-header>
          <!-- <ion-card-content>
            <ion-card-subtitle>{{this.getGroupSize(group.ref)}} Members</ion-card-subtitle>
          </ion-card-content> -->
          <ion-card-content>
            @if (group.data['closed']) {
              <ion-card-subtitle>Group Closed</ion-card-subtitle>
            } @else {
              <ion-card-subtitle>Group Open</ion-card-subtitle>
            }
          </ion-card-content>
        </div>
      </ion-card>
    </div>
  }
</ion-content>



