<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">group</ion-title>
    </ion-toolbar>
  </ion-header>

  @for (group of this.groupList; track $index) {
    <!-- Placeholder for how each group will be displayed to the user -->
    <div class="group">
      <p class="group-content">{{group['group']}}</p>
    </div>
  }
</ion-content>
