<ion-content>
  <div class = "header">
  <div class = "header-left">
    <h1> Gift Exchange Groups </h1>
  </div>
  <div class = "header-right">
    <ion-button class = "logout-button" size = "small"> Log Out </ion-button>
  </div>
  </div>

  @for (group of this.groupList; track $index) {
    <ion-card class="group-card" (click)="this.router.navigate(['/main', group.data['code']]);">
      <div class="image-div">
        <img
          src="https://img.freepik.com/premium-vector/cute-little-boy-santa-with-gift-icon-element_456987-177.jpg?w=740"
          alt="Cute Little Boy"
        />
      </div>
      <div class="group-card-header-div">
        <ion-card-header>
          <ion-card-title>{{group.data['name']}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Number of members
          Date of Creation
        </ion-card-content>
      </div>
    </ion-card>

    <div class="group" (click)="this.router.navigate(['/main', group.data['code']]);">
    <p class="group-content">Group data is {{group.data['name']}}</p>
    </div>
  }
  <ion-button class="join-group-button" [routerLink]="['/join-group']">Create/Join Group</ion-button>
</ion-content>



