

<ion-content>
  <div class = "home-card">
  <div class ="home-content">
    <ion-text>
      <h1>UnderWraps</h1>
    </ion-text>
    <ion-text>
      <h3>Secret Santa Matcher</h3>
    </ion-text>
    <ion-button [routerLink]="['/signup']">Create New Account</ion-button>
    <ion-button [routerLink]="['/login']">Log In</ion-button>
  </div>
  </div>
</ion-content>



<!-- <ion-content>
  <div class = "ion-justify-content-center">
    <ion-text>
      <h1>UnderWraps</h1>
    </ion-text>
    <ion-text>
      <h3>Secret Santa Matcher</h3>
    </ion-text>
    <ion-button [routerLink]="['/signup']">Create New Account</ion-button>
    <ion-button [routerLink]="['/login']">Log In</ion-button>
  </div>
</ion-content> -->

