<ion-content>
<div class = "header">
<h1> Gift WishList </h1>
</div>

<div class = "all-gift-card-div">
  @if (this.currentUser && this.auth.currentUser && this.currentUser.id === this.auth.currentUser.id) {
    <div class = "add-gift-button-div">
      <ion-input class = "add-gift-input" label="Gift wish: " [(ngModel)]="this.giftInput"></ion-input>
      <ion-button class = "add-gift-button" size="small" (click)="this.addGift()">
        Add Gift Wish
      </ion-button>
    </div>
  }
  @for (gift of this.giftList; track $index) {
  <ion-card class="gift-card">
      <ion-card-content>
        {{gift['preference']}}
      </ion-card-content>
  </ion-card>
  }
</div>
</ion-content>