<ion-content>
  <div class = "header">
  <div class = "header-left">
    <h1> FAMILY</h1>
    <h5> {{this.groupCode}}</h5>
  </div>
  <div class = "header-right">
    <ion-button class = "logout-button" size = "small"> Log Out </ion-button>
  </div>
  </div>

  <div class = "all-member-card-div">
    <ion-card class="member-card">
      <div class = "image-div">
        <img
        src="https://img.freepik.com/premium-vector/cute-little-boy-santa-with-gift-icon-element_456987-177.jpg?w=740"
        alt="Cute Little Boy"
      />
      </div>
        <div class = "member-card-header-div">
          <ion-card-header>
            <ion-card-title>STEVEN</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </div>
    </ion-card>

    <ion-card class="member-card">
      <div class = "image-div">
        <img
        src="https://img.freepik.com/premium-vector/cute-little-girl-with-christmas-gift-cartoon-illustration_456987-171.jpg?w=740"
        alt="Cute Little Boy"
      />
      </div>
        <div class = "member-card-header-div">
          <ion-card-header>
            <ion-card-title>HALEEMA</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </div>
    </ion-card>

    <ion-card class="member-card">
      <div class = "image-div">
        <img
        src="https://img.freepik.com/premium-vector/cute-little-girl-with-christmas-gift-cartoon-illustration_456987-171.jpg?w=740"
        alt="Cute Little Boy"
      />
      </div>
        <div class = "member-card-header-div">
          <ion-card-header>
            <ion-card-title>NISCHU</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </div>
    </ion-card>

    <ion-card class="member-card">
      <div class = "image-div">
        <img
        src="https://img.freepik.com/premium-vector/cute-little-girl-with-christmas-gift-cartoon-illustration_456987-171.jpg?w=740"
        alt="Cute Little Boy"
      />
      </div>
        <div class = "member-card-header-div">
          <ion-card-header>
            <ion-card-title>ALINA</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </div>
    </ion-card>

    <ion-card class="member-card">
      <div class = "image-div">
        <img
        src="https://img.freepik.com/premium-vector/cute-little-girl-with-christmas-gift-cartoon-illustration_456987-171.jpg?w=740"
        alt="Cute Little Boy"
      />
      </div>
        <div class = "member-card-header-div">
          <ion-card-header>
            <ion-card-title>NICKI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </div>
    </ion-card>

    <ion-card class="member-card">
      <div class = "image-div">
        <img
        src="https://img.freepik.com/premium-vector/cute-little-boy-santa-with-gift-icon-element_456987-177.jpg?w=740"
        alt="Cute Little Boy"
      />
      </div>
        <div class = "member-card-header-div">
          <ion-card-header>
            <ion-card-title>BEN</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </div>
    </ion-card>

    <ion-card class="member-card">
      <div class = "image-div">
        <img
        src="https://img.freepik.com/premium-vector/cute-little-boy-santa-with-gift-icon-element_456987-177.jpg?w=740"
        alt="Cute Little Boy"
      />
      </div>
        <div class = "member-card-header-div">
          <ion-card-header>
            <ion-card-title>PAUL</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </div>
    </ion-card>

    <ion-card class="member-card">
      <div class = "image-div">
        <img
        src="https://img.freepik.com/premium-vector/cute-little-boy-santa-with-gift-icon-element_456987-177.jpg?w=740"
        alt="Cute Little Boy"
      />
      </div>
        <div class = "member-card-header-div">
          <ion-card-header>
            <ion-card-title>DAVID</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </div>
    </ion-card>

    <ion-card class="member-card">
      <div class = "image-div">
        <img
        src="https://img.freepik.com/premium-vector/cute-little-boy-santa-with-gift-icon-element_456987-177.jpg?w=740"
        alt="Cute Little Boy"
      />
      </div>
        <div class = "member-card-header-div">
          <ion-card-header>
            <ion-card-title>JOHN</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </div>
    </ion-card>

    <ion-card class="member-card">
      <div class = "image-div">
        <img
        src="https://img.freepik.com/premium-vector/cute-little-boy-santa-with-gift-icon-element_456987-177.jpg?w=740"
        alt="Cute Little Boy"
      />
      </div>
        <div class = "member-card-header-div">
          <ion-card-header>
            <ion-card-title>ELI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </div>
    </ion-card>
  </div>

  <div class = "admin-nav-bar">
    <div class = "admin-text">
      <h2> ADMIN </h2>
    </div>

    <div class = "manage-button-div">
      <ion-button class="manage-button">
        Manage
      </ion-button>
    </div>
  </div>
</ion-content>



<!-- https://img.freepik.com/premium-vector/cute-little-girl-with-christmas-gift-cartoon-illustration_456987-171.jpg?w=740 -->
<!-- https://img.freepik.com/premium-vector/cute-little-boy-santa-with-gift-icon-element_456987-177.jpg?w=740 -->