ion-content {
  text-align: center;
}

.header {
  display: flex;

  //start: hoverOverScroll
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  //end: hoverOverScroll

  // border: 2px solid black;
  justify-content:space-between;
  // background-color: #FFE5B4;
  background-color: #fbd3d3;
  margin-bottom: 7px;
}

.header-left {
  margin-left: 20px;
  // border: 2px solid black;
}

.header-right {
  margin-right: 20px;
  // border: 2px solid black;
}


.leavegroup-button {
  --background: #8B0000;
  --color: rgb(255, 248, 248);
  font-weight: bold;
  margin-top: 46px;
  // border: 2px solid black;
}

h1 {
  font-family: Candara;
  font-size: 2rem;
  font-weight: bold;
  color: #8B0000;
  margin-bottom: -20px;
  // border: 2px solid black;
  // color: #2c3e50;
}


h6 {
  // border: 2px solid black;
  font-weight: bold;
}
// Don't remove
// h5 {
//   border: 2px solid black;
// }


.add-gift-button-div {
  // border: 2px solid black;
}

.add-gift-button {
  // border: 2px solid black;
}


.all-member-card-div-admin {
  margin-top: 2px;
  // start - static admin bottom bar
  // max-height: 507px;
  max-height: 76%;
  overflow-y: auto;
  // end - static admin bottom bar
  // border: 2px solid black;
}


.all-member-card-div {
  margin-top: 2px;
  // start - static admin bottom bar
  // max-height: 507px;
  // overflow-y: auto;
  // end - static admin bottom bar
  // border: 2px solid black;
}

.member-card {
  display: flex;
  // justify-content:center;
  margin-top: 0px;
  margin-left: 4px;
  margin-right: 8px;
  margin-bottom: 2px;
  width: 100%;
  // border: 2px solid black;
}

.image-div {
  // border: 2px solid black;
  margin: 8px;
  min-width: 80px;
  max-width: 80px;
  display: flex;
  // justify-content: flex-start;
  align-items: center;
}

.member-card img {
  width: 80px;
  height: 80px;
  object-fit: cover; /* Ensure the image fits nicely */
  border-radius: 50%;
  // border: 2px solid black;
}

.member-card-header-div {
  margin:auto;
  // min-width: 235px;
  // border: 2px solid black;
}

.giftee-icon{
  margin:auto;
  color:#8B0000;
}

.self-icon{
  margin:auto;
  color:#8B0000;
}

.member-card-header-div ion-card-header {
  padding: 0px;
  // min-width: 180px;
  // border: 2px solid black;
  margin-right: 2px;
}

// .member-card-header-div img {
//   width: 30px;
//   height: 30px;
//   border: 2px solid black;
// }

.member-card-header-div ion-card-title {
  margin: 5px;
  margin-top: 10px;
  color: #8B0000;
  font-size:large;
  align-self: center;
  font-weight: bold;
  // border: 2px solid black;
}

.member-card-header-div ion-card-content {
  margin: 8px;
  padding: 0px;
  font-size: small;
  text-align: center;
  // font-weight: bold;
  // border: 2px solid black;
}

ion-item-option {
  border-radius: 9px;
  margin-bottom: 1.5px;
  margin-right: 2px;
}

.admin-nav-bar {
  position: fixed;
  bottom: 0;
  // left: 0;
  display: flex;
  justify-content:space-evenly;
  // margin-left: 1.5em;
  // border: 2px solid black;
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  width: 100%;
}

.admin-text {
  // border: 2px solid black;
}

.admin-text h2 {
  font-size: 32px;
  font-weight: bold;
  color: #373737;
  // border: 2px solid black;
}

.management-button-div {
  margin-left: 0.5em;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  // border: 2px solid black;
}

#disband-button {
  --background: #8B0000;
  --color: rgb(254, 234, 234);
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  height: 50px;
  margin-right: 10px;
  // border: 2px solid black;
}

#match-button {
  --background: #8B0000;
  --color: rgb(254, 234, 234);
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  height: 50px;
  // border: 2px solid black;
}


