<ion-content>
  <div class = "header">
    <div class = "header-left">
      <h1> FAMILY</h1>
      <h5> {{this.groupCode}}</h5>
    </div>
    @if (!this.isAdmin) {
      <div class = "header-right">
        <ion-button class = "logout-button" size = "small"> Log Out </ion-button>
      </div>
    }
  </div>

  <div class = "all-member-card-div">
    @for (user of this.userList; track $index) {
      <ion-item-sliding>
      <ion-item>
        <ion-card class="member-card">
          <div class="image-div">
            @let pic = user.data['profilePic'];
            @if (pic === 'boy') {
              <img
                src="https://img.freepik.com/premium-vector/cute-little-boy-santa-with-gift-icon-element_456987-177.jpg?w=740"
                alt="Cute Little Boy"
              />
            } @else if (pic === 'girl'){
              <img
                src="https://img.freepik.com/premium-vector/cute-little-girl-with-christmas-gift-cartoon-illustration_456987-171.jpg?w=740"
                alt="Cute Little Girl"
              />
            } @else {
              <img
                src="https://img.freepik.com/premium-vector/cute-little-boy-santa-with-gift-icon-element_456987-177.jpg?w=740"
                alt="Cute Little Boy"
              />
            }
            
          </div>
          <div class="member-card-header-div">
            <ion-card-header>
              <ion-card-title>{{user.data['username']}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>{{user.data['bio']}}</ion-card-content>
          </div>
        </ion-card>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  }
  </div>

  @if (this.isAdmin) {
    <div class = "admin-nav-bar">
      <div class = "admin-text">
        <h2> ADMIN </h2>
      </div>
  
      <div class = "management-button-div">
        <ion-button id="disband-button">
          Disband Group
        </ion-button>
        <ion-alert trigger="disband-button" header="Are you sure?" [buttons]="alertButtons"></ion-alert>
        <ion-button id="match-button">
          Match Members
        </ion-button>
        <ion-alert trigger="match-button" class="custom-alert" header="Are you sure?" [buttons]="alertButtons"></ion-alert>
      </div>
    </div>
  }
  
</ion-content>



<!-- https://img.freepik.com/premium-vector/cute-little-girl-with-christmas-gift-cartoon-illustration_456987-171.jpg?w=740 -->
<!-- https://img.freepik.com/premium-vector/cute-little-boy-santa-with-gift-icon-element_456987-177.jpg?w=740 -->